* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    height: 15vh;
    position: relative;
    background-color: #023047;
    align-items: center;

}

.logo {
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.classListLien {
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 7rem;

}

ul>li {
    list-style-type: none;
    width: 200px;

}
.classTrombi{
    text-align: end;
   margin-left: .7rem;
}

li>a {
    color: #F4F5F6;
    text-decoration: none;
}

body {
    background-color:  #F4F5F6;
}

main {
text-align: left;
}

h1 {
    text-align: center;
}

footer {
    background-color: #023047;
    height: 15vh;
}
footer > p{
    color: #F4F5F6;
    text-align: center;
    padding: .4rem;
}   
.logo-rond-footer{
    border: 1px solid #f1f0f0;
    border-radius: 50%;
    width: 23px;
    height: 23px;
}
footer > ul{
    display: flex;
    justify-content: center;
}
.ClassLiFooter{
    text-align: center;
    width: 3rem;
}

.devWeb {
    border: 3px solid blue;
}
.data{
    border: 3px solid red;
}
.tssr{
    border: 3px solid yellow;
}

.studentPicture{
    height: 5rem;
}

section{
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

article{
    min-width: 100%;
    scroll-snap-align: start;
    background-color: #f1f1f1;
    padding: 20px;
     text-align: center;
}

@media screen and (min-width: 1024px){
    .trombinoscope {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 20px;
    }
    article{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-radius: 10px;
      width: 12rem;
      margin: 20px;
      flex-direction: column;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      justify-items: center;
    }
    .studentPicture{
        grid-column: span 2;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 5rem;
    }
    .name{
        grid-column: span 2;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .linkedin::before{
        content: url("images/linkedin.svg");
    }
    .github::before{
        content: url("images/github.svg");
    }
}
